
// BASE
@import 'base/reset';

// ABSTRACTS
@import 'abstracts/variables';

// UTILS
@import 'utils/sass-utils';

// LAYOUT
@import 'layout/header';
@import 'layout/footer';

// PAGES
@import 'pages/home';
