//
// Variables
// --------------------------------------------------


//== Colors
//
//##
$col-white: #FFFFFF;
$col-gray: #6d6d6d;
$col-shark: #282C34;
$col-black: #000000;
$col-malibu: #61dafb;


//== Font size
//
//##

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~12px
